# Ignore configuration files with sensitive information
config.js

# Ignore environment files


# Other common files to ignore
node_modules/
.DS_Store
.vercel

# Ignore nested git repositories
temp_pdf_converter/